# Server ignores
/serverproject/db.sqlite3
/serverproject/chromedriver.exe

# Workingaudio Ignores
/serverproject/destinyapp/working_folder/working_audio/merged_audio.mp3
/serverproject/destinyapp/working_folder/working_audio/testing_merged_audio.mp3
/serverproject/destinyapp/working_folder/working_audio/raw.webm

# VectorDB ignores
/serverproject/destinyapp/working_folder/vectordbs

# env
.env

# global ignores
__pycache__

# testing ignores
/serverproject/destinyapp/misc/testing_notebooks