# Server ignores
/serverproject/db.sqlite3
/serverproject/chromedriver.exe

# Workingaudio Ignores
/serverproject/destinyapp/working_folder/working_audio/merged_audio.mp3
/serverproject/destinyapp/working_folder/working_audio/testing_merged_audio.mp3
/serverproject/destinyapp/working_folder/working_audio/raw.webm
/serverproject/destinyapp/working_folder/working_audio/raw.m4a
/serverproject/destinyapp/working_folder/stream_plots
/serverproject/destinyapp/working_folder/transcripts/*.srt
/serverproject/destinyapp/working_folder/mp4_2_mp3
/serverproject/destinyapp/working_folder/test_transcript
/serverproject/destinyapp/working_folder/testing



# VectorDB ignores
/serverproject/destinyapp/working_folder/vectordbs

# env
.env

# global ignores
__pycache__

# testing ignores
/serverproject/destinyapp/misc/testing_notebooks

# local ignores
/local