ipykernel
requests
tiktoken
anthropic
openai
langchain
chromadb
youtube-transcript-api
faiss-cpu
ipywidgets
chat-downloader

pytube

Django
starlette

selenium

discord.py

moviepy

assemblyai

djangorestframework
django-cors-headers

django-q